

<%- include("header") %>

    <div>
        <% if (player) { %>
            <h2><%= player.name %></h2>
            <p>ID: <%= player.id %></p>
            <p>Age: <%= player.age %></p>
            <p>Position: <%= player.position %></p>
            <p>Nationality: <%= player.nationality %></p>
            <p>Overall Rating: <%= player.overallRating %></p>
            <p>Active: <%= player.isActive %></p>
            <p>Birth Date: <%= player.birthDate %></p>
            <p>Club: <%= player.club.name %> (League: <%= player.club.league %>)</p>
            <img src="<%= player.imageURL %>" alt="<%= player.name %>" class="player-image">

        <% } else { %>
            <p>Player not found</p>
        <% } %>
    </div>

    <%- include("footer") %>

